@model PicView
@{
    ViewBag.Title = "PicView";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav" style="height:650px;">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <img style="height:400px; width:450px;" src="~/images/uploads/@Model.Name" />
            </div>
            <div class="row">
                Name : <b>@Model.Title </b> Price : <b> @Model.Price </b>
            </div>
            </div>
        <div class="col-sm-2 sidenav" style="height:650px;">
            <div class="well">
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" value="@Model.Title" name="title" />
                    <input type="hidden" value="@Model.Price" name="price" />
                    <label>No of copies:</label><input type="text" name="count" />
                    <input type="submit" value="Add to Cart" />
                </form>
            </div>
            <div class="well">
                <form asp-controller="Buy" asp-action="Index" method="post">
                    <input type="hidden" value="@Model.Title" name="title" />
                    <input type="hidden" value="@Model.Price" name="price" />
                    <input type="submit" value="Buy Now" />
                </form>
            </div>
        </div>
    </div>
</div>


