<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WackoPicko</title>
    <!--<link href="~/css/blueprint/screen.css" rel="stylesheet" type="text/css" />
    <link href="~/css/blueprint/print.css" rel="stylesheet" type="text/css" />-->
    <link href="~/css/stylings.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.css" />
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
    <script>
        var Popper = null;
    </script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="row">
        <div class="container-fluid">
            <div class="col">
                <h1 id="title"><a href="/">PicShopper</a></h1>
            </div>
            <div class="row" style="background:#007bff;">
                <div class="col-md-9" style="text-align:center;">
                    <div class="btn-group">
                        <a class=@(@ViewBag.Title == "Home" ? "btn btn-info" : "btn btn-primary") asp-controller="Home" asp-action="Index">Home</a>
                        <a class=@(@ViewBag.Title == "Upload" ? "btn btn-info" : "btn btn-primary") asp-controller="Upload" asp-action="Index">Upload</a>
                        <a class=@(@ViewBag.Title == "Recent" ? "btn btn-info" : "btn btn-primary") asp-controller="Recent" asp-action="Index">Recent</a>
                        <a class=@(@ViewBag.Title == "GuestBook" ? "btn btn-info" : "btn btn-primary") asp-controller="GuestBook" asp-action="Index">GuestBook</a>
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    <a class=@(@ViewBag.Title == "User" ? "btn btn-info" : "btn btn-primary") asp-controller="Admin" asp-action="Index">Admin</a>
                                }
                                else
                                {
                                    <a class=@(@ViewBag.Title == "User" ? "btn btn-info" : "btn btn-primary") asp-controller="User" asp-action="Index">More</a>
                                }

                                <a class=@(@ViewBag.Title == "Logout" ? "btn btn-info" : "btn btn-primary") asp-controller="Logout" asp-action="Index">Logout</a>
                            }
                            else
                            {
                                <a class=@(@ViewBag.Title == "Login" ? "btn btn-info" : "btn btn-primary") asp-controller="User" asp-action="Login">Login</a>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-3" style="padding-top:5px;">

                    <div id="search_box">
                        <form action="/Recent/Search" method="GET" style="display:inline;">
                            <input id="query2" name="query" size="15" style="padding: 2px; font-size: 16px; text-decoration:none;border:none;vertical-align:middle;" value="" type="text">
                            <input src="/images/search_button_white.gif" style="border: 0pt none ; position: relative; top: 0px;vertical-align:middle;margin-left: 1em;" type="image">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" id="menu">


            </div>
            <div class="customBody">
                @RenderBody()
            </div>



            <div class="" id="footer">
                <ul>
                    <li><a href="/">Home</a> |</li>
                    @if (!User.Identity.IsAuthenticated || User.IsInRole("Admin"))
                    {
                        <li><a href="/Admin">Admin</a> |</li>
                    }
                    <li><a href="mailto:contact@wackopicko.com">Contact</a> |</li>
                    <li><a href="/Tos">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
